* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
font-family: 'Fredoka One', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Sarala', sans-serif;
*/

.container {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    display: flex;
    padding: 12px 20px;
    background-color: #242a3a;
    align-items: center;
    justify-content: space-between;
}

#main-logo {
    height: 32px;
    border-radius: 8px;
}

.container-menu ul {
    list-style: none;
    column-gap: 26px;
}

.container-menu li {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.container-menu , .menu-list {
    display: flex;
}

.container-menu a {
    text-decoration: none;
    font-size: small;
    font-weight: 500;
    color: white;
}

.container-menu span {
    color: red;
    font-weight: bolder;
}

.menu-list .sign-item {
    font-weight: 800;
}

.link-sign {
    padding: 3px 8px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.3);
}

.partners {
    width: 100%;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.partners img {
    height: 16px;
}

.container-partner {
    display: flex;
    align-items: center;
    column-gap: 3px;
}

.partners div, .container-partner div {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    font-weight: 600;
    color: #777777;
}

.container-partner a {
    text-decoration: none;
    color: #777777;
}

.main-content {
    width: 100%;
}

.main-content section {
    display: flex;
}

.music-content {
    padding: 10px 20px 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-notification {
    display: inline;
    background-color: #77777725;
}

.news {
    color: white;
    font-size: 12px;
    font-weight: 800;
    padding: 4px 10px;
    border-radius: 12px;
    background-image: url('./image/background-notification.png');
}

.notification {
    color: black;
    font-size: 12px;
    font-weight: 800;
    padding: 4px 16px 4px 4px;
    border-radius: 0 12px 12px 0;
}

.music-image {
    width: 60%;
    padding: 38px 20px;
    border-radius: 0 12px 12px 0;
    background: linear-gradient(165deg, #38A2D6, #551138);
}

.music-image-container {
    text-align: center;
}

.music-image img {
    width: 60%;
}

h1 {
    margin: 30px 0;
    font-size: 42px;
    font-family: 'Sarala', sans-serif;
}

.content-initial {
    width: 60%;
    font-size: 16px;
    line-height: 1.4em;
    margin-bottom: 50px;
    font-family: 'Sarala', sans-serif;
}

.btn-app {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.content-btn {
    display: flex;
    column-gap: 5px;
}

.content-btn img {
    height: 16px;
}

.btn-app button {
    color: white;
    border: none;
    padding: 8px 15px;
    font-weight: 700;
    background: linear-gradient(165deg, #38A2D6, #551138);
}

.btn-app div {
    font-size: small;
}

.content-btn a {
    color: #242a3a;
    font-weight: 700;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

.container-section-2 {
    width: 100%;
    display: flex;
}

.container-news-image {
    padding: 30px 10px 30px 50px;
}

.people-listening {
    width: 600px;
}

.container-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}

.container-news .music-icon-player {
    width: 55px;
}

.container-news .equalizer-icon {
    width: 200px;
    height: 50px;
}

.container-news h2 {
    color: #38A2D6;
    font-size: small;
}

.brand-container {
    margin-bottom: 5px;
}

.description-music-title {
    font-size: 38px;
    margin-bottom: 15px;
}

.paragraph-section2 {
    font-size: 18px;
    line-height: 1.5em;
}

.container-equalizer {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.equalizer-box {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #424242;
}

#about-us {
    background-color: #475886;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
}

.container-about-image img {
    width: 360px;
}

.container-about h3 {
    font-size: 38px;
    color: white;
    margin-bottom: 20px;
}

.container-about p {
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
}

.container-about button {
    padding: 8px 15px;
    font-weight: 700;
    color: white;
    border: 1px solid white;
    background-color: #475886;
}

.container-about-image {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    margin-top: 40px;
}

fieldset {
    padding: 25px 40px;
}

form legend {
    font-size: 38px;
    margin-bottom: 25px;
}

input {
    border-top: 0;
    border-right: 0;
    border-bottom: 2;
    border-left: 0;
    border-color: black;
    display: block;
}

.forms-item-group {
    display: flex;
    gap: 50px;
    margin: 25px 0;
}

#email {
    width: 405px;
}

.email-item-topic {
    margin-bottom: 45px;
}

textarea {
    resize: none;
    margin-bottom: 30px;
}

.btn-send {
    color: white;
    padding: 8px 15px;
    font-weight: 700;
    border-radius: 8px;
    font-size: 18px;
    background-color: #242a3a;
}

.subscribe-container .started {
    font-size: small;
}

.subscribe-container .create-account {
    font-size: 38px;
}

.subscribe-container .login-container span {
    color: #475886;
}